In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_valid =  pd.read_csv("valid.csv")

In [3]:
df_valid

       t       x_1       x_2  y
0    0.0 -3.045520 -1.857371  0
1    0.0 -3.998597  0.368850  0
2    0.0 -4.789953 -0.689660  0
3    0.0 -3.596480 -2.434832  0
4    0.0 -1.830972 -3.134346  0
..   ...       ...       ... ..
119  1.0  1.058212  0.255453  0
120  1.0  0.483792 -0.076837  1
121  1.0  1.200855 -0.093769  0
122  1.0  1.107385  1.407071  0
123  1.0  1.517267  2.355124  0

[124 rows x 4 columns]

In [4]:
df_valid2 = df_valid[df_valid["y"] == 1]

In [5]:
df_valid2

       t       x_1       x_2  y
62   1.0  1.937371  2.669655  1
72   1.0  1.103368  1.011115  1
74   1.0  0.958888 -0.699755  1
75   1.0  1.341845 -0.608916  1
85   1.0  1.163915  1.151881  1
93   1.0  1.751106  2.550528  1
95   1.0  1.611664  1.289542  1
103  1.0  2.095140  4.081800  1
107  1.0  1.593561  2.708067  1
108  1.0  1.433955  1.456778  1
117  1.0  1.781538  3.152449  1
120  1.0  0.483792 -0.076837  1

In [6]:
x1 = df_valid2[["x_1"]].to_numpy()
x2 = df_valid2[["x_2"]].to_numpy()
x = np.hstack((x1,x2))

In [7]:
x_valid = np.hstack((np.ones((x.shape[0],1)),x1,x2))

In [8]:
y_valid = df_valid2[["y"]].to_numpy()

In [9]:
x_valid.shape,y_valid.shape

((12, 3), (12, 1))

In [10]:
x = np.hstack((np.ones((df_valid.shape[0],1)),df_valid[["x_1"]].to_numpy(),df_valid[["x_2"]].to_numpy()))

In [11]:
y = df_valid[["y"]].to_numpy()

In [12]:
x.shape,y.shape

((124, 3), (124, 1))

In [13]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [14]:
def gradient(x,y,theta):
    m = x.shape[0]
    temp = (x.T @ (y - sigmoid(x@theta))) / m
    return temp

In [15]:
def training(x,y,theta,learning_rate,epochs):
    for i in range(epochs):
        theta = theta + learning_rate * gradient(x,y,theta)
    return theta

In [16]:
theta = np.zeros((x.shape[1],1))
theta = training(x,y,theta,0.2,2000000)
theta

array([[-2.88812415],
       [ 0.79675594],
       [ 0.0309376 ]])

In [17]:
alpha = (np.sum(sigmoid(x_valid @ theta),axis=0) / x_valid.shape[0]).item(0)

In [18]:
alpha

0.16174807476395375

In [19]:
df_train = pd.read_csv('train.csv')

In [20]:
x_train = np.hstack((np.ones((df_train.shape[0],1)),df_train[["x_1"]].to_numpy(),df_train[["x_2"]].to_numpy()))

In [21]:
y_train = df_train[["y"]].to_numpy()

In [22]:
t_train = df_train[["t"]].to_numpy()

In [23]:
theta_train = np.zeros((x_train.shape[1],1))
theta_train = training(x_train,y_train,theta_train,0.1,50000)
theta_train

array([[-2.91607454],
       [ 0.78596651],
       [ 0.09282768]])

In [24]:
test_df =  pd.read_csv("test.csv")

In [25]:
x_test = np.hstack((np.ones((126,1)),test_df[["x_1"]].to_numpy(),test_df[["x_2"]].to_numpy()))

In [26]:
y_test = test_df[["y"]].to_numpy().astype(int)

In [27]:
t_test = test_df[["t"]].to_numpy().astype(int)

In [28]:
h_x = sigmoid(x_train @ theta_train) / alpha 
df_train["y_predicted"] = h_x
df_train

        t       x_1       x_2  y  y_predicted
0     0.0 -1.548319 -2.762987  0     0.075767
1     0.0 -3.958870 -0.612780  0     0.014051
2     0.0 -2.276375  0.614934  0     0.058662
3     0.0  0.556287 -3.931406  0     0.340053
4     0.0 -1.491000 -2.159297  0     0.083717
...   ...       ...       ... ..          ...
1245  1.0  1.773462  3.542156  0     1.438376
1246  1.0  1.220733  3.636613  1     1.022190
1247  1.0  1.107772  1.625893  0     0.808264
1248  1.0  1.461093  0.558899  0     0.942268
1249  1.0  0.935221  2.900369  0     0.796177

[1250 rows x 5 columns]

In [29]:
df_train["error"] = abs(df_train["y_predicted"] - df_train["t"])

In [30]:
train_acc = df_train[(df_train["error"] > 0.5)]

In [31]:
h_x = sigmoid(x_test @ theta_train) / alpha  
test_df["y_predicted"] = h_x
test_df

       t       x_1       x_2  y  y_predicted
0    0.0  0.387421 -1.866760  0     0.359496
1    0.0 -2.356436 -1.168553  0     0.046770
2    0.0 -2.217217 -3.282972  0     0.042906
3    0.0 -1.373251 -4.551377  0     0.073669
4    0.0 -1.546461 -3.045420  0     0.073936
..   ...       ...       ... ..          ...
121  1.0  1.112134  2.380248  0     0.861286
122  1.0  1.048710  0.374687  0     0.700736
123  1.0  1.374204  3.876723  0     1.150015
124  1.0  2.081179  3.489406  1     1.716217
125  1.0  0.120048 -0.553010  0     0.330772

[126 rows x 5 columns]

In [32]:
test_df["error"] = abs(test_df["y_predicted"] - test_df["t"])

In [33]:
test_acc = test_df[test_df["error"] > 0.5]

In [34]:
test_accuracy = (test_df.shape[0]-test_acc.shape[0]) / test_df.shape[0] * 100
train_accuracy = (df_train.shape[0]-train_acc.shape[0]) / df_train.shape[0] * 100

In [35]:
print(f"Training accuracy = {train_accuracy}%")
print(f"Test accuracy = {test_accuracy}%")

Training accuracy = 88.64%
Test accuracy = 88.88888888888889%